/WebApp/3D-Manufacture/bin
/WebApp/3D-Manufacture/.vs
WebApp/3D-Manufacture/obj/Debug/net9.0/3D-Manufacture.AssemblyInfo.cs
WebApp/3D-Manufacture/obj/Debug/net9.0/3D-Manufacture.AssemblyInfoInputs.cache
WebApp/3D-Manufacture/obj/Debug/net9.0/3D-Manufacture.csproj.BuildWithSkipAnalyzers
WebApp/3D-Manufacture/obj/Debug/net9.0/3D-Manufacture.csproj.CoreCompileInputs.cache
WebApp/3D-Manufacture/obj/Debug/net9.0/3D-Manufacture.csproj.FileListAbsolute.txt
WebApp/3D-Manufacture/obj/Debug/net9.0/3D-Manufacture.dll
WebApp/3D-Manufacture/obj/Debug/net9.0/3D-Manufacture.genruntimeconfig.cache
WebApp/3D-Manufacture/obj/Debug/net9.0/3D-Manufacture.MvcApplicationPartsAssemblyInfo.cache
WebApp/3D-Manufacture/obj/Debug/net9.0/3D-Manufacture.pdb
WebApp/3D-Manufacture/obj/Debug/net9.0/3D-Manufacture.sourcelink.json
WebApp/3D-Manufacture/obj/Debug/net9.0/ApiEndpoints.json
WebApp/3D-Manufacture/obj/Debug/net9.0/apphost.exe
WebApp/3D-Manufacture/obj/Debug/net9.0/compressed/02k1bnna9s-h1s4sie4z3.gz
WebApp/3D-Manufacture/obj/Debug/net9.0/compressed/03pdcuinjq-6cfz1n2cew.gz
WebApp/3D-Manufacture/obj/Debug/net9.0/compressed/2mp6qgm968-ozmvq9ifcg.gz
WebApp/3D-Manufacture/obj/Debug/net9.0/compressed/3dbcdqe20i-nvvlpmu67g.gz
WebApp/3D-Manufacture/obj/Debug/net9.0/compressed/3eyziapjne-d7shbmvgxk.gz
WebApp/3D-Manufacture/obj/Debug/net9.0/compressed/3jz4z6eaea-khv3u5hwcm.gz
WebApp/3D-Manufacture/obj/Debug/net9.0/compressed/518ryx32sc-jd9uben2k1.gz
WebApp/3D-Manufacture/obj/Debug/net9.0/compressed/6lejxihhgk-37tfw0ft22.gz
WebApp/3D-Manufacture/obj/Debug/net9.0/compressed/76yiunb1zk-rzd6atqjts.gz
WebApp/3D-Manufacture/obj/Debug/net9.0/compressed/7dqgnkxge6-r4e9w2rdcm.gz
WebApp/3D-Manufacture/obj/Debug/net9.0/compressed/896jwr3f4y-k8d9w2qqmf.gz
WebApp/3D-Manufacture/obj/Debug/net9.0/compressed/8akxazlele-ft3s53vfgj.gz
WebApp/3D-Manufacture/obj/Debug/net9.0/compressed/8nrbmpj530-iovd86k7lj.gz
WebApp/3D-Manufacture/obj/Debug/net9.0/compressed/8p9kwmuj2g-pk9g2wxc8p.gz
WebApp/3D-Manufacture/obj/Debug/net9.0/compressed/8vvujfcs8a-tdbxkamptv.gz
WebApp/3D-Manufacture/obj/Debug/net9.0/compressed/9v3w8eckgg-ttgo8qnofa.gz
WebApp/3D-Manufacture/obj/Debug/net9.0/compressed/a5m0jmxw2e-ag7o75518u.gz
WebApp/3D-Manufacture/obj/Debug/net9.0/compressed/ah4490o38o-61n19gt1b8.gz
WebApp/3D-Manufacture/obj/Debug/net9.0/compressed/b6niu26ud3-4v8eqarkd7.gz
WebApp/3D-Manufacture/obj/Debug/net9.0/compressed/b6w6x80nhf-dxx9fxp4il.gz
WebApp/3D-Manufacture/obj/Debug/net9.0/compressed/bh761bfa2x-46ein0sx1k.gz
WebApp/3D-Manufacture/obj/Debug/net9.0/compressed/d6t7t61667-lzl9nlhx6b.gz
WebApp/3D-Manufacture/obj/Debug/net9.0/compressed/dc7cs817e3-ee0r1s7dh0.gz
WebApp/3D-Manufacture/obj/Debug/net9.0/compressed/dlb7r4ihje-mlv21k5csn.gz
WebApp/3D-Manufacture/obj/Debug/net9.0/compressed/ees5btbtg2-06098lyss8.gz
WebApp/3D-Manufacture/obj/Debug/net9.0/compressed/eg5qda0l1u-c2jlpeoesf.gz
WebApp/3D-Manufacture/obj/Debug/net9.0/compressed/ejjm5igs50-47otxtyo56.gz
WebApp/3D-Manufacture/obj/Debug/net9.0/compressed/eyhomyfkrr-ausgxo2sd3.gz
WebApp/3D-Manufacture/obj/Debug/net9.0/compressed/fqc73qyp00-notf2xhcfb.gz
WebApp/3D-Manufacture/obj/Debug/net9.0/compressed/g9ok07agrf-mrlpezrjn3.gz
WebApp/3D-Manufacture/obj/Debug/net9.0/compressed/hasp1zhch5-pj5nd1wqec.gz
WebApp/3D-Manufacture/obj/Debug/net9.0/compressed/iupnlkgkts-muycvpuwrr.gz
WebApp/3D-Manufacture/obj/Debug/net9.0/compressed/j9bl4bv4n2-63fj8s7r0e.gz
WebApp/3D-Manufacture/obj/Debug/net9.0/compressed/jrow01ryet-b9sayid5wm.gz
WebApp/3D-Manufacture/obj/Debug/net9.0/compressed/kls89z5pmx-493y06b0oq.gz
WebApp/3D-Manufacture/obj/Debug/net9.0/compressed/kwp5pbu9u1-x0q3zqp4vz.gz
WebApp/3D-Manufacture/obj/Debug/net9.0/compressed/lqx2fxuc73-fsbi9cje9m.gz
WebApp/3D-Manufacture/obj/Debug/net9.0/compressed/mrkwq27ux3-83jwlth58m.gz
WebApp/3D-Manufacture/obj/Debug/net9.0/compressed/nofxbj1bgo-lcd1t2u6c8.gz
WebApp/3D-Manufacture/obj/Debug/net9.0/compressed/nub97ttkhx-erw9l3u2r3.gz
WebApp/3D-Manufacture/obj/Debug/net9.0/compressed/ol63ogbt5g-v0zj4ognzu.gz
WebApp/3D-Manufacture/obj/Debug/net9.0/compressed/pmlvtr8hki-356vix0kms.gz
WebApp/3D-Manufacture/obj/Debug/net9.0/compressed/q10lna7q1m-87fc7y1x7t.gz
WebApp/3D-Manufacture/obj/Debug/net9.0/compressed/qa7df5flut-vr1egmr9el.gz
WebApp/3D-Manufacture/obj/Debug/net9.0/compressed/qlpgaahdy1-aexeepp0ev.gz
WebApp/3D-Manufacture/obj/Debug/net9.0/compressed/r2e7pht1zt-fvhpjtyr6v.gz
WebApp/3D-Manufacture/obj/Debug/net9.0/compressed/t59d7qic9x-2z0ns9nrw6.gz
WebApp/3D-Manufacture/obj/Debug/net9.0/compressed/t5wtzobjbx-j5mq2jizvt.gz
WebApp/3D-Manufacture/obj/Debug/net9.0/compressed/twkxciplw0-hrwsygsryq.gz
WebApp/3D-Manufacture/obj/Debug/net9.0/compressed/uvjt8g9hk9-0j3bgjxly4.gz
WebApp/3D-Manufacture/obj/Debug/net9.0/compressed/v82y2gy7ad-ozmvq9ifcg.gz
WebApp/3D-Manufacture/obj/Debug/net9.0/compressed/vlow7igeax-c2oey78nd0.gz
WebApp/3D-Manufacture/obj/Debug/net9.0/compressed/vozxgwh94r-0i3buxo5is.gz
WebApp/3D-Manufacture/obj/Debug/net9.0/compressed/vwh4erqv2k-ub07r2b239.gz
WebApp/3D-Manufacture/obj/Debug/net9.0/compressed/wd9z61ydcu-bqjiyaj88i.gz
WebApp/3D-Manufacture/obj/Debug/net9.0/compressed/wggdmttzqj-jj8uyg4cgr.gz
WebApp/3D-Manufacture/obj/Debug/net9.0/compressed/wzpp6xhajy-s35ty4nyc5.gz
WebApp/3D-Manufacture/obj/Debug/net9.0/compressed/x5h7up1i3d-kbrnm935zg.gz
WebApp/3D-Manufacture/obj/Debug/net9.0/compressed/xexlpgd41y-6pdc2jztkx.gz
WebApp/3D-Manufacture/obj/Debug/net9.0/compressed/xga6yoiede-o1o13a6vjx.gz
WebApp/3D-Manufacture/obj/Debug/net9.0/compressed/xhr13j3csw-xtxxf3hu2r.gz
WebApp/3D-Manufacture/obj/Debug/net9.0/compressed/xocritot37-y7v9cxd14o.gz
WebApp/3D-Manufacture/obj/Debug/net9.0/compressed/zes1h8gqll-b7pk76d08c.gz
WebApp/3D-Manufacture/obj/Debug/net9.0/compressed/zexap0wh79-cosvhxvwiu.gz
WebApp/3D-Manufacture/obj/Debug/net9.0/ref/3D-Manufacture.dll
WebApp/3D-Manufacture/obj/Debug/net9.0/refint/3D-Manufacture.dll
WebApp/3D-Manufacture/obj/Debug/net9.0/scopedcss/bundle/3D-Manufacture.styles.css
WebApp/3D-Manufacture/obj/Debug/net9.0/scopedcss/Pages/Shared/_Layout.cshtml.rz.scp.css
WebApp/3D-Manufacture/obj/Debug/net9.0/scopedcss/projectbundle/3D-Manufacture.bundle.scp.css
WebApp/3D-Manufacture/obj/Debug/net9.0/staticwebassets.build.endpoints.json
WebApp/3D-Manufacture/obj/Debug/net9.0/staticwebassets.build.json
WebApp/3D-Manufacture/obj/Debug/net9.0/staticwebassets.development.json
WebApp/3D-Manufacture/obj/Debug/net9.0/staticwebassets.pack.json
WebApp/3D-Manufacture/obj/Debug/net9.0/staticwebassets.references.upToDateCheck.txt
WebApp/3D-Manufacture/obj/Debug/net9.0/staticwebassets.upToDateCheck.txt
WebApp/3D-Manufacture/obj/Debug/net9.0/staticwebassets/msbuild.3D-Manufacture.Microsoft.AspNetCore.StaticWebAssetEndpoints.props
WebApp/3D-Manufacture/obj/Debug/net9.0/staticwebassets/msbuild.3D-Manufacture.Microsoft.AspNetCore.StaticWebAssets.props
WebApp/3D-Manufacture/obj/Debug/net9.0/staticwebassets/msbuild.build.3D-Manufacture.props
WebApp/3D-Manufacture/obj/Debug/net9.0/staticwebassets/msbuild.buildMultiTargeting.3D-Manufacture.props
WebApp/3D-Manufacture/obj/Debug/net9.0/staticwebassets/msbuild.buildTransitive.3D-Manufacture.props
WebApp/3D-Manufacture/obj/Debug/net9.0/3D-Manufacture.AssemblyInfoInputs.cache
WebApp/3D-Manufacture/obj/Debug/net9.0/3D-Manufacture.AssemblyInfo.cs
